{
	log {
		output file /var/log/caddy/access.log
		format json
	}
}
:80 {
	#static
	handle_path /static/* {
		root * /app/main/static
		file_server
	}
	handle {
		reverse_proxy localhost:8000
	}
}

www.rafaelmc.net:80 {
	redir https://rafaelmc.net{uri}
	log {
		output file /var/log/caddy/redirect.log
		format json
	}
}
