<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/pico.min.css') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/style.css') }}">
        <title>
            {% block title %}{% endblock %}
            - rafaelmc.net
        </title>
    </head>
    <body>
        <main class="container">
            <nav>
                <ul>
                    <li>
                        <h1><a href="https://rafaelmc.net">rafaelmc.net</a></h1>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="{{ url_for("main.index") }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for("blog.index") }}">Blog</a>
                    </li>
                </ul>
            </nav>
            <section class="content">
                <header>
                    {% block header %}{% endblock %}
                </header>
                <hr>
                {% block content %}{% endblock %}
                <hr>
                {% for message in get_flashed_messages() %}<div class="flash">{{ message }}</div>{% endfor %}
            </section>
        </main>
    </body>
</html>
