<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/pico.min.css') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/style.css') }}">
        <title>
            {% block title %}{% endblock %}
            - rafaelmc.net
        </title>
    </head>
    <body>
        <main class="container">
            <nav>
                <ul>
                    <li>
                        <h1><a href="https://rafaelmc.net">rafaelmc.net</a></h1>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="{{ url_for("main.index") }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for("blog.index") }}">Blog</a>
                    </li>
                </ul>
            </nav>
            <section class="content">
                <header>
                    {% block header %}{% endblock %}
                </header>
                <hr>
                {% block content %}{% endblock %}
                <hr>
                {% for message in get_flashed_messages() %}<div class="flash">{{ message }}</div>{% endfor %}
            </section>
            <section class="footer">
                <p>
                    &copy; 2023, 2024 - rafaelmc.net
                </p>
                <p>
                    <a href="https://wakatime.com/badge/user/a1b08b66-7e37-4aee-98a4-6333b3b5199a/project/2305d9b6-0a3d-4b93-9c7f-7f98f9e84709">
                        <img src="https://wakatime.com/badge/user/a1b08b66-7e37-4aee-98a4-6333b3b5199a/project/2305d9b6-0a3d-4b93-9c7f-7f98f9e84709.svg" alt="wakatime">
                    </a>
                </p>
        </main>
    </body>
</html>
